.container {
   width: 1200px;
   max-width: 100%;
   margin: 0 auto;
}

.header {
   width: 100%;

   &-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.logo {
   display: flex;
   align-items: center;
   gap: 5px;

   &-title {
      font-size: 20px;
   }
}

.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.form__footer {
   display: flex;
   justify-content: space-between;
}

.container__form {
   width: 50%;
   margin: 0 auto;
   margin-top: 30px;
}

.content-box {
   width: 100%;
   display: flex;
   justify-content: center;
}

.content-item {
   width: 50%;
}

.select-wrapper input.select-dropdown {
   color: #fff;
   border-bottom: 1px solid #fff !important;
}

.select-wrapper svg {
   fill: #fff !important;
}